In [6]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt

event_prefix = '../dataset/tr.csv'
event_prefix = '../dataset/2020_100_sorted.csv'

input_for_trainning = '../dataset/aux/tr-aux.csv'

def put_each_hit_in_a_single_line_train(event_prefix):

    auxdf3  = pd.DataFrame()
    totfinaldfaux = pd.DataFrame()

    totdf = pd.read_csv(event_prefix) #,skiprows=0,nrows=1)
    print(totdf.shape)

    columnsPerHit=8
    maximumHitPerTrack=20
    positionB=1
    #positionE=40 #17+8+8+8+8
    positionE=49 #17+8+8+8+8
    amount_of_hits = maximumHitPerTrack*columnsPerHit

    for k in range(3,4):
    #for k in range(3,10):
        print("K: ", k)
        print("interval: ", positionB,positionE)
        

        totdf3 = totdf.iloc[:,positionB:positionE]
        print("totdf3.shape: ", totdf3.shape)
        print("totdf3: ", totdf3)
        print(totdf3.columns.shape[0])
        
        #rename column names to append in resulta dataframe
        for i in range(totdf3.columns.shape[0]):
            totdf3 = totdf3.rename(columns={totdf3.columns[i]: i})

        totfinaldfaux = totfinaldfaux.append(totdf3)

        positionB=positionB+columnsPerHit
        positionE=positionE+columnsPerHit

    print(totfinaldfaux.shape)

    return totfinaldfaux

#ds = put_each_hit_in_a_single_line_train(event_prefix)

In [5]:
def prepare_training_data(path, cilyndrical=False ):
    
    df = pd.read_csv(path, header=0, engine='python')
    
    start_hits = 9
    interval = 11
    df = df.iloc[:, start_hits:]
    
    # x, y, z coordinates
    if cilyndrical == False:
        bp=1
        ep=4
        bpC=10
        epC=11
       
    # cilyndrical coordinates    
    elif cilyndrical == True:
        bp=4
        ep=7
        bpC=10
        epC=11     

    df_hits_positions = df.iloc[:, np.r_[bp:ep,
                            bp+(interval*1):ep+(interval*1),
                            bp+(interval*2):ep+(interval*2),
                            bp+(interval*3):ep+(interval*3)]]


    # data values of particles
    df_hits_values = df.iloc[:, np.r_[bpC:epC,
                                   bpC+(interval*1):epC+(interval*1),
                                   bpC+(interval*2):epC+(interval*2),
                                   bpC+(interval*3):epC+(interval*3)]]

    frame = [df_hits_positions, df_hits_values]
    X =  pd.concat(frame, axis=1)
    X = X.iloc[:,:]
    y = df.iloc[:, np.r_[bp+(interval*4):(bp+(interval*4)+3)]]
        
    return X, y

def dataprep(file):
    #Data preparation

    #load track file
    df = pd.read_csv(file,)

    df1 = df.iloc[:,10:54]

    #Separate values and features for LSTM
    dataX2 = df1.iloc[:, [ 0,1,2,8,9,10,16,17,18,24,25,26]]
    dataXfeatures = df1.iloc[:, [ 6,14,22,30 ]]

    b = dataX2.values.flatten()
    bfeat = dataXfeatures.values.flatten()
    n_patterns = len(df)
    
    X     = dataX2
    Xfeat = dataXfeatures

    #XMLP= df1.iloc[:, [ 2,3,4,9,10,11,12,17,18,19,20,24]]

    resorg= df1.iloc[:, [ 32,33,34]]
    #resorgfile=diraux+'/resorg'
    resorg.to_csv('resorg.csv', index = False)

    #prepare data to be approximated to inference data
    df_all_hits = df1.iloc[:, [ 31,32,33,34,35,36,37,38]]
    yy=df_all_hits.iloc[:,:]
    columns = yy.columns
    yclone = np.copy(yy)
    #dfyclone = pd.DataFrame.from_records(yclone)
    
    dfyclone = pd.DataFrame(yclone, columns=columns)

    return X, Xfeat, dfyclone, resorg

In [13]:
x, x_, y, y_ = dataprep('../dataset/if.csv')
y

,hit_id_4,x_4,y_4,z_4,volume_id_4,layer_id_4,module_id_4,value_4
0,67364.0,250.080002,75.234100,-96.000000,13.0,2.0,382.0,3.0
1,67305.0,239.695999,-97.476601,-72.400002,13.0,2.0,378.0,1.0
2,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
3,80852.0,496.027008,-66.991798,187.399994,13.0,6.0,974.0,3.0
4,67322.0,261.901001,-2.233630,-76.000000,13.0,2.0,380.0,2.0
5,67830.0,251.514999,-83.622002,49.799999,13.0,2.0,418.0,3.0
6,67358.0,251.589005,57.645401,-71.199997,13.0,2.0,382.0,1.0
7,67849.0,256.264008,-56.144600,-1.800000,13.0,2.0,419.0,1.0
8,67825.0,253.684006,-80.025398,-36.599998,13.0,2.0,418.0,2.0
9,68365.0,259.143005,40.400101,101.800003,13.0,2.0,461.0,4.0
10,68342.0,238.373001,-99.668800,79.599998,13.0,2.0,458.0,1.0
11,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
12,67831.0,244.718994,-94.891098,-23.400000,13.0,2.0,418.0,2.0
13,67884.0,260.829010,22.402100,48.599998,13.0,2.0,421.0,2.0
14,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
15,67332.0,255.748001,-28.687401,-102.400002,13.0,2.0,380.0,1.0
16,68347.0,252.384003,-57.816200,95.199997,13.0,2.0,459.0,1.0
17,67318.0,258.898987,-41.768101,-83.199997,13.0,2.0,379.0,2.0
18,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
19,68336.0,249.796997,-80.726997,60.400002,13.0,2.0,458.0,2.0
20,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
21,67367.0,242.251999,85.071701,-100.000000,13.0,2.0,383.0,2.0
22,67850.0,260.476990,-45.766998,-37.200001,13.0,2.0,419.0,4.0
23,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
24,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
25,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
26,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
27,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
28,67294.0,242.050995,-93.571800,-52.000000,13.0,2.0,378.0,1.0
29,67822.0,234.018005,-112.634003,-12.600000,13.0,2.0,418.0,2.0
...,...,...,...,...,...,...,...,...
969,72271.0,240.591995,104.119003,41.400002,13.0,2.0,423.0,1.0
970,78327.0,332.890991,130.406998,-53.200001,13.0,4.0,536.0,2.0
971,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
972,72192.0,263.154999,-39.169899,34.200001,13.0,2.0,419.0,3.0
973,72184.0,241.619995,-100.028999,37.799999,13.0,2.0,418.0,2.0
974,72187.0,255.813004,-57.256401,-23.400000,13.0,2.0,419.0,3.0
975,72773.0,254.054001,-53.702301,109.599998,13.0,2.0,459.0,2.0
976,72276.0,240.669006,103.808998,46.200001,13.0,2.0,423.0,1.0
977,72202.0,262.808014,-11.429800,-39.000000,13.0,2.0,420.0,2.0
978,72772.0,250.173004,-63.264400,109.599998,13.0,2.0,459.0,2.0
979,72819.0,251.460999,59.139900,81.099998,13.0,2.0,462.0,4.0
980,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
981,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
982,71673.0,252.434006,47.801601,-90.400002,13.0,2.0,382.0,4.0
983,71629.0,259.907013,-39.284901,-62.200001,13.0,2.0,379.0,4.0
984,72774.0,256.476990,-47.735199,55.599998,13.0,2.0,459.0,1.0
985,72201.0,264.873993,-2.546930,-11.400000,13.0,2.0,420.0,2.0
986,72235.0,260.200989,13.624500,-3.000000,13.0,2.0,421.0,2.0
987,72770.0,246.126007,-73.234299,114.400002,13.0,2.0,459.0,1.0
988,71653.0,257.403992,16.102200,-83.199997,13.0,2.0,381.0,2.0
989,90589.0,659.283997,71.547897,13.800000,13.0,8.0,1073.0,4.0
990,71641.0,261.212006,-5.194580,-100.000000,13.0,2.0,380.0,2.0
991,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
992,72237.0,261.217010,27.828199,-48.599998,13.0,2.0,421.0,2.0
993,72788.0,257.225006,-22.337000,79.599998,13.0,2.0,460.0,2.0
994,71650.0,255.684006,-28.960100,-124.000000,13.0,2.0,380.0,2.0
995,72196.0,261.410004,-43.469101,19.799999,13.0,2.0,419.0,3.0
996,105311.0,811.651001,114.846001,-86.800003,17.0,2.0,1143.0,6.0
997,72756.0,233.684006,-107.444000,80.800003,13.0,2.0,458.0,2.0
998,72254.0,254.981995,52.806099,16.200001,13.0,2.0,422.0,2.0

In [24]:
prefix = '../dataset/2020_100_sorted.csv'  
df = pd.read_csv(prefix, header=0, engine='python')


hit = 19
begin_hit = 'hit_id_'
end_hit = 'value_'
begin = begin_hit+str(hit)
end = end_hit+str(hit)

df = df.loc[:, begin:end]
df

,hit_id_19,x_19,y_19,z_19,rho_19,eta_19,phi_19,volume_id_19,layer_id_19,module_id_19,value_19
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
event_prefix = '../dataset/2020_100_sorted.csv'
#event_prefix = '../dataset/tr.csv'

X, y = prepare_training_data(event_prefix, cilyndrical=False)
X.head()

print('[Data] X.shape', X.shape)
print('[Data] y.shape', y.shape)

X.head()

[Data] X.shape (40, 16)
[Data] y.shape (40, 3)

,x_0,y_0,z_0,x_1,y_1,z_1,x_2,y_2,z_2,x_3,y_3,z_3,value_0,value_1,value_2,value_3
0,-24.585400,-20.413200,-13.975500,-56.510399,-45.227600,-31.276600,-92.247803,-70.983597,-50.016201,-138.167007,-101.019997,-73.405899,0.319292,0.331103,0.321971,0.344224
1,-14.056000,-28.675501,-21.582600,-31.304100,-64.726898,-48.192902,-49.917801,-104.850998,-77.674202,-72.214203,-154.794998,-114.222000,0.366232,0.361090,0.354962,0.317347
2,-27.423901,-17.235300,-64.558403,-61.020302,-37.752800,-142.643005,-98.834396,-60.154701,-229.826004,-147.701996,-88.006104,-341.398010,0.687946,0.655072,0.651616,0.666651
3,-24.421700,-20.596399,-23.423300,-55.571999,-46.090599,-52.555500,-89.466301,-72.973297,-83.822403,-134.436996,-107.330002,-124.806999,0.381427,0.393663,0.394846,0.374068
4,-12.655300,29.405399,-60.221001,-26.612101,65.975998,-133.429993,-40.456200,107.658997,-215.979996,-55.553200,162.884003,-323.472992,0.619523,0.638750,0.652402,0.654377

In [7]:
size_x = X.shape[0]
print('size_x ', size_x)

time_steps = 4
num_features =4 

X_tmp = X.values.flatten()
X_new = np.reshape(X_tmp,(size_x,time_steps, num_features))
X_new

size_x  40

array([[[-2.45853996e+01, -2.04132004e+01, -1.39755001e+01,
         -5.65103989e+01],
        [-4.52276001e+01, -3.12765999e+01, -9.22478027e+01,
         -7.09835968e+01],
        [-5.00162010e+01, -1.38167007e+02, -1.01019997e+02,
         -7.34058990e+01],
        [ 3.19292307e-01,  3.31102908e-01,  3.21970522e-01,
          3.44223738e-01]],

       [[-1.40559998e+01, -2.86755009e+01, -2.15825996e+01,
         -3.13041000e+01],
        [-6.47268982e+01, -4.81929016e+01, -4.99178009e+01,
         -1.04850998e+02],
        [-7.76742020e+01, -7.22142029e+01, -1.54794998e+02,
         -1.14222000e+02],
        [ 3.66231680e-01,  3.61090362e-01,  3.54961574e-01,
          3.17346901e-01]],

       [[-2.74239006e+01, -1.72353001e+01, -6.45584030e+01,
         -6.10203018e+01],
        [-3.77528000e+01, -1.42643005e+02, -9.88343964e+01,
         -6.01547012e+01],
        [-2.29826004e+02, -1.47701996e+02, -8.80061035e+01,
         -3.41398010e+02],
        [ 6.87946081e-01,  6.55071557e-01,  6.51616395e-01,
          6.66650653e-01]],

       [[-2.44216995e+01, -2.05963993e+01, -2.34232998e+01,
         -5.55719986e+01],
        [-4.60905991e+01, -5.25555000e+01, -8.94663010e+01,
         -7.29732971e+01],
        [-8.38224030e+01, -1.34436996e+02, -1.07330002e+02,
         -1.24806999e+02],
        [ 3.81426603e-01,  3.93662900e-01,  3.94846022e-01,
          3.74068290e-01]],

       [[-1.26553001e+01,  2.94053993e+01, -6.02210007e+01,
         -2.66121006e+01],
        [ 6.59759979e+01, -1.33429993e+02, -4.04561996e+01,
          1.07658997e+02],
        [-2.15979996e+02, -5.55531998e+01,  1.62884003e+02,
         -3.23472992e+02],
        [ 6.19522691e-01,  6.38750315e-01,  6.52402461e-01,
          6.54376864e-01]],

       [[ 1.16098003e+01,  2.93047009e+01,  6.62631989e+01,
          2.43624992e+01],
        [ 6.81099014e+01,  1.52994003e+02,  3.48232002e+01,
          1.10946999e+02],
        [ 2.46501007e+02,  4.29863014e+01,  1.67065002e+02,
          3.66824005e+02],
        [ 7.19899058e-01,  7.23597646e-01,  7.19412744e-01,
          7.28035569e-01]],

       [[ 1.14747000e+01,  2.93698006e+01, -2.22852997e+02,
          2.80643997e+01],
        [ 8.03618011e+01, -5.97500000e+02,  3.19827003e+01,
          9.41331024e+01],
        [-6.97500000e+02,  3.64054985e+01,  1.10742996e+02,
         -8.18000000e+02],
        [ 2.12791109e+00,  3.01189989e-01,  3.86533707e-01,
          3.26730013e-01]],

       [[ 2.63771992e+01,  1.84071999e+01, -1.64936005e+02,
          5.84426003e+01],
        [ 4.04421997e+01, -3.63786987e+02,  9.70939026e+01,
          6.64805984e+01],
        [-6.02000000e+02,  1.13405998e+02,  7.72907028e+01,
         -7.02000000e+02],
        [ 1.58421898e+00,  1.59594750e+00,  2.98038006e-01,
          3.15903991e-01]],

       [[ 2.07364998e+01, -2.42966003e+01, -1.68524994e+02,
          4.34371986e+01],
        [-5.77257996e+01, -3.82309998e+02,  6.23821983e+01,
         -9.35883026e+01],
        [-5.98000000e+02,  6.98804016e+01, -1.11536003e+02,
         -7.02000000e+02],
        [ 1.58793354e+00,  1.68895066e+00,  3.44560444e-01,
          3.04967999e-01]],

       [[ 1.47697001e+01, -2.89622993e+01,  2.25403996e+01,
          3.09997997e+01],
        [-6.53398972e+01,  5.03634987e+01,  4.64067001e+01,
         -1.06831001e+02],
        [ 8.09524994e+01,  6.12831993e+01, -1.60029007e+02,
          1.18583000e+02],
        [ 4.11293954e-01,  3.81702214e-01,  3.83770049e-01,
          3.79930586e-01]],

       [[ 1.99570007e+01, -2.43290005e+01,  4.81559982e+01,
          4.66710014e+01],
        [-5.49408989e+01,  1.10884003e+02,  7.59290009e+01,
         -8.63951035e+01],
        [ 1.77235992e+02,  1.16299004e+02, -1.26495003e+02,
          2.64923004e+02],
        [ 5.31538010e-01,  5.44621944e-01,  5.49948275e-01,
          5.37552238e-01]],

       [[ 3.18071995e+01,  4.28567982e+00,  2.32071991e+01,
          7.08327026e+01],
        [ 9.38813019e+00,  5.21259995e+01,  1.14434998e+02,
          1.49117002e+01],
        [ 8.44111023e+01,  1.70737000e+02,  2.17262993e+01,
          1.26060997e+02],
        [ 3.72915000e-01,  3.68857950e-01,  3.82241428e-01,
          3.64791185e-01]],

       [[ 3.09106007e+01,  6.84990978e+00,  2.79680004e+01,
          7.08479004e+01],
        [ 1.61147995e+01,  6.46420975e+01,  1.12569000e+02,
          2.62928009e+01],
        [ 1.03056000e+02,  1.66233002e+02,  4.01128006e+01,
          1.52660995e+02],
        [ 4.15202022e-01,  4.49014306e-01,  4.10809308e-01,
          4.04453993e-01]],

       [[ 1.78136997e+01,  2.63150997e+01,  1.61562002e+00,
          3.94529991e+01],
        [ 5.91586990e+01,  4.03436995e+00,  6.37256012e+01,
          9.74145966e+01],
        [ 6.82745981e+00,  9.24618988e+01,  1.44860001e+02,
          1.02219000e+01],
        [ 3.02158177e-01,  3.31690997e-01,  3.30346704e-01,
          2.79992998e-01]],

       [[-3.88487005e+00, -3.17660999e+01, -1.47059006e+02,
         -1.04027004e+01],
        [-7.20410995e+01, -3.33552002e+02, -2.27199993e+01,
         -1.29466995e+02],
        [-6.02000000e+02, -2.81233997e+01, -1.50694000e+02,
         -7.02000000e+02],
        [ 1.41446853e+00,  1.41565585e+00,  2.97015995e-01,
          2.86439359e-01]],

       [[-2.21091003e+01,  2.24067993e+01,  3.11151001e+02,
         -4.25469017e+01],
        [ 4.35415001e+01,  6.02000000e+02, -4.95404015e+01,
          5.08829002e+01],
        [ 7.02000000e+02, -5.79402008e+01,  5.97169991e+01,
          8.22000000e+02],
        [ 3.02789783e+00,  3.16483527e-01,  2.96543986e-01,
          2.90135980e-01]],

       [[ 2.99211006e+01,  9.67998981e+00,  3.74476013e+01,
          6.88582993e+01],
        [ 2.15776997e+01,  8.64673996e+01,  1.11405998e+02,
          3.36982002e+01],
        [ 1.39740997e+02,  1.65020004e+02,  4.76691017e+01,
          2.06466995e+02],
        [ 4.72541124e-01,  4.92421687e-01,  4.51952785e-01,
          4.95314926e-01]],

       [[-1.95028000e+01,  2.47346992e+01, -7.43181000e+01,
         -4.47620010e+01],
        [ 5.70166016e+01, -1.70578003e+02, -7.13085022e+01,
          9.11961975e+01],
        [-2.72184998e+02, -1.05211998e+02,  1.35274002e+02,
         -4.02770996e+02],
        [ 7.93530524e-01,  7.75200546e-01,  8.12802076e-01,
          7.70256579e-01]],

       [[-3.00035992e+01, -9.44427013e+00,  6.80786972e+01,
         -6.85643005e+01],
        [-2.10351009e+01,  1.55787003e+02, -1.11594002e+02,
         -3.32999001e+01],
        [ 2.53143005e+02, -1.65537994e+02, -4.77246017e+01,
          3.74552002e+02],
        [ 7.05516577e-01,  7.23102570e-01,  7.14440942e-01,
          6.87081099e-01]],

       [[-1.44018002e+01, -2.85088997e+01, -2.09477005e+01,
         -3.20335999e+01],
        [-6.44598999e+01, -4.67809982e+01, -5.10588989e+01,
         -1.04518997e+02],
        [-7.53475037e+01, -7.37152023e+01, -1.54257996e+02,
         -1.10570000e+02],
        [ 3.75183582e-01,  3.67794991e-01,  3.69267017e-01,
          3.69640499e-01]],

       [[-2.73773003e+01,  1.56094999e+01, -7.88367996e+01,
         -6.35660019e+01],
        [ 3.44757996e+01, -1.80725998e+02, -1.02612000e+02,
          5.28190002e+01],
        [-2.88923004e+02, -1.55436996e+02,  7.44260025e+01,
         -4.32231995e+02],
        [ 8.04031312e-01,  8.24625671e-01,  8.10541451e-01,
          8.03591788e-01]],

       [[ 3.85007000e+00, -3.24840012e+01, -1.45766006e+02,
          9.29959965e+00],
        [-7.13636017e+01, -3.20606995e+02,  1.97805996e+01,
         -1.33658997e+02],
        [-6.02000000e+02,  2.40202007e+01, -1.55727997e+02,
         -7.02000000e+02],
        [ 1.39665437e+00,  1.35505414e+00,  3.48051012e-01,
          3.19532007e-01]],

       [[ 1.79965000e+01, -2.60802002e+01,  1.57376007e+02,
          3.84272995e+01],
        [-6.05275002e+01,  3.57119995e+02,  5.92667007e+01,
         -1.05016998e+02],
        [ 6.02000000e+02,  6.65690994e+01, -1.23572998e+02,
          7.02000000e+02],
        [ 1.57777870e+00,  1.53919756e+00,  3.26695979e-01,
          3.41314405e-01]],

       [[ 3.00788994e+01,  9.22894001e+00, -2.24759003e+02,
          7.93671036e+01],
        [ 2.62275009e+01, -5.98000000e+02,  9.29704971e+01,
          3.12847004e+01],
        [-7.02000000e+02,  1.08039001e+02,  3.71338005e+01,
         -8.18000000e+02],
        [ 2.14306331e+00,  2.21588999e-01,  2.60628998e-01,
          2.86401987e-01]],

       [[ 2.59337006e+01,  1.81604996e+01, -1.02836998e+02,
          5.90155983e+01],
        [ 3.96576996e+01, -2.30703003e+02,  9.69885025e+01,
          6.24198990e+01],
        [-3.73878998e+02,  2.27352005e+02,  1.26251999e+02,
         -8.43200012e+02],
        [ 1.01606607e+00,  9.95744407e-01,  1.01646316e+00,
          2.00000000e+00]],

       [[-2.27970009e+01,  2.24561996e+01, -5.47830009e+01,
         -5.34430008e+01],
        [ 4.88339005e+01, -1.23714996e+02, -8.94852982e+01,
          7.51928024e+01],
        [-2.00231995e+02, -1.36712006e+02,  1.03514000e+02,
         -2.94781006e+02],
        [ 6.15081489e-01,  5.99385202e-01,  5.80305696e-01,
          6.14631832e-01]],

       [[ 1.06693001e+01, -3.00998001e+01,  1.04255997e+02,
          2.48747005e+01],
        [-6.73281021e+01,  2.34449997e+02,  4.14725990e+01,
         -1.07725998e+02],
        [ 3.77165985e+02,  1.05051003e+02, -2.40362000e+02,
          8.58799988e+02],
        [ 1.01812267e+00,  1.03832686e+00,  1.01793456e+00,
          2.00000000e+00]],

       [[ 2.68425999e+01,  1.71429005e+01,  2.54382000e+01,
          6.10615997e+01],
        [ 3.68568001e+01,  5.75018005e+01,  1.01904999e+02,
          5.71705017e+01],
        [ 9.43946991e+01,  1.52748993e+02,  7.81940002e+01,
          1.38927994e+02],
        [ 3.87210310e-01,  3.94419879e-01,  4.02999401e-01,
          3.79264474e-01]],

       [[ 3.09836998e+01,  6.64088011e+00,  2.15184994e+01,
          7.08615036e+01],
        [ 1.60853996e+01,  4.99136009e+01,  1.12337997e+02,
          2.69895000e+01],
        [ 7.97263031e+01,  1.67574005e+02,  4.31897011e+01,
          1.19783997e+02],
        [ 3.81070614e-01,  3.94564062e-01,  3.66647452e-01,
          3.99565756e-01]],

       [[-3.11168995e+01, -7.76000977e+00, -3.16760010e+02,
         -5.84986992e+01],
        [-1.57669001e+01, -5.98000000e+02, -6.81715012e+01,
         -1.89118996e+01],
        [-6.98000000e+02, -7.96685028e+01, -2.28033009e+01,
         -8.18000000e+02],
        [ 3.03351688e+00,  3.21523309e-01,  3.01630110e-01,
          2.87981987e-01]],

       [[-2.31905003e+01,  2.14409008e+01, -2.37054001e+02,
         -6.01413994e+01],
        [ 5.23848000e+01, -5.97500000e+02, -7.05950012e+01,
          6.05239983e+01],
        [-6.97500000e+02, -8.38302994e+01,  7.04242020e+01,
         -8.22000000e+02],
        [ 2.23534274e+00,  3.22991997e-01,  2.57631212e-01,
          3.27718198e-01]],

       [[-3.21296005e+01, -4.86371994e+00,  1.04372002e+02,
         -7.07522964e+01],
        [-1.18174000e+01,  2.31119995e+02, -1.14304001e+02,
         -2.10793991e+01],
        [ 3.74497009e+02, -2.54201996e+02, -6.18927002e+01,
          8.45000000e+02],
        [ 1.00581372e+00,  1.00095236e+00,  1.02662444e+00,
          4.00000000e+00]],

       [[ 2.64055996e+01,  1.76322002e+01,  1.42623993e+02,
          6.05665016e+01],
        [ 3.75345993e+01,  3.21496002e+02,  1.16058998e+02,
          6.41580963e+01],
        [ 5.98000000e+02,  1.36544006e+02,  7.25919037e+01,
          6.98000000e+02],
        [ 1.37204266e+00,  1.43669510e+00,  3.05870801e-01,
          3.06002498e-01]],

       [[ 3.09230995e+01,  6.81424999e+00,  3.80545998e+01,
          7.10933990e+01],
        [ 1.67618008e+01,  8.81638031e+01,  1.11906998e+02,
          2.82824993e+01],
        [ 1.39656006e+02,  1.65962997e+02,  4.55705986e+01,
          2.08658005e+02],
        [ 4.84619528e-01,  4.88646895e-01,  4.93005604e-01,
          5.03092349e-01]],

       [[-6.30785990e+00,  3.16247005e+01, -1.48154007e+02,
         -1.23165998e+01],
        [ 7.06312027e+01, -3.28781006e+02, -1.79764004e+01,
          1.29772995e+02],
        [-6.02000000e+02, -1.89377995e+01,  1.51503998e+02,
         -7.02000000e+02],
        [ 1.39837646e+00,  1.41485953e+00,  3.18418682e-01,
          3.38227004e-01]],

       [[ 2.07432003e+01, -2.36268005e+01, -1.32796997e+02,
          4.87685013e+01],
        [-5.26600990e+01, -3.03049988e+02,  1.00522003e+02,
         -9.94963989e+01],
        [-5.98000000e+02,  1.19014999e+02, -1.14454002e+02,
         -6.98000000e+02],
        [ 1.31626618e+00,  1.29553366e+00,  2.98157811e-01,
          3.00366998e-01]],

       [[-1.75823002e+01, -2.69762001e+01,  1.30563004e+02,
         -1.43680000e+01],
        [-6.96667023e+01,  2.05160995e+02, -8.24174976e+00,
         -1.15639000e+02],
        [ 2.85863007e+02,  3.61780000e+00, -1.71740005e+02,
          3.86165009e+02],
        [ 6.90998495e-01,  6.29097521e-01,  5.74151278e-01,
          6.15202308e-01]],

       [[-2.65863991e+01,  1.83913994e+01,  9.68174973e+01,
         -4.67694016e+01],
        [ 5.41024017e+01,  1.57720001e+02, -6.55548019e+01,
          9.50727005e+01],
        [ 2.24819000e+02, -8.41641998e+01,  1.48951004e+02,
          3.10050995e+02],
        [ 6.45242095e-01,  5.35141110e-01,  5.68840265e-01,
          5.61470449e-01]],

       [[-3.15844994e+01,  7.10433006e+00,  9.33108978e+01,
         -6.97824020e+01],
        [ 1.36253004e+01,  1.48828995e+02, -1.14195000e+02,
          2.46182003e+01],
        [ 2.14169998e+02, -1.65787003e+02,  4.20583992e+01,
          2.92079987e+02],
        [ 5.12885928e-01,  5.47487378e-01,  5.56304812e-01,
          5.43900549e-01]],

       [[-3.14603996e+01,  9.30488968e+00,  1.27206001e+02,
         -6.80139999e+01],
        [ 2.49780998e+01,  2.80296997e+02, -1.05307999e+02,
          4.83454018e+01],
        [ 4.50169006e+02, -1.35076996e+02,  7.43531036e+01,
          6.02000000e+02],
        [ 1.22077167e+00,  1.21648872e+00,  1.29919422e+00,
          3.09707820e-01]]])

In [10]:
event_prefix = '../dataset/2020_100_sorted.csv'
#df = pd.read_csv(event_prefix, header=1, index_col=['hit_id_0'], engine='python')
df = pd.read_csv(event_prefix, header=0, engine='python')

#df = pd.read_csv(event_prefix)
df = df.iloc[:, 9:]
df.head()

,hit_id_0,x_0,y_0,z_0,rho_0,eta_0,phi_0,volume_id_0,layer_id_0,module_id_0,...,x_19,y_19,z_19,rho_19,eta_19,phi_19,volume_id_19,layer_id_19,module_id_19,value_19
0,17420.0,-24.585400,-20.413200,-13.975500,31.955292,-0.708570,-2.448648,8.0,2.0,98.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,17502.0,-14.056000,-28.675501,-21.582600,31.935177,-0.427043,-2.026553,8.0,2.0,99.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,17472.0,-27.423901,-17.235300,-64.558403,32.390213,-0.768700,-2.580497,8.0,2.0,98.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,17457.0,-24.421700,-20.596399,-23.423300,31.947317,-0.704657,-2.440963,8.0,2.0,98.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,18882.0,-12.655300,29.405399,-60.221001,32.013031,-0.385684,1.977209,8.0,2.0,109.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
bp=1
ep=4

bpC=10
epC=11

interval=11

df_hits = df.iloc[:, np.r_[bp:ep, bpC:epC,
                        bp+(interval*1):ep+(interval*1), bpC+(interval*1):epC+(interval*1),
                        bp+(interval*2):ep+(interval*2),  bpC+(interval*2):epC+(interval*2),
                        bp+(interval*3):ep+(interval*3),  bpC+(interval*3):epC+(interval*3)]
                 ]

df_hits.head()

,x_0,y_0,z_0,value_0,x_1,y_1,z_1,value_1,x_2,y_2,z_2,value_2,x_3,y_3,z_3,value_3
0,-24.585400,-20.413200,-13.975500,0.319292,-56.510399,-45.227600,-31.276600,0.331103,-92.247803,-70.983597,-50.016201,0.321971,-138.167007,-101.019997,-73.405899,0.344224
1,-14.056000,-28.675501,-21.582600,0.366232,-31.304100,-64.726898,-48.192902,0.361090,-49.917801,-104.850998,-77.674202,0.354962,-72.214203,-154.794998,-114.222000,0.317347
2,-27.423901,-17.235300,-64.558403,0.687946,-61.020302,-37.752800,-142.643005,0.655072,-98.834396,-60.154701,-229.826004,0.651616,-147.701996,-88.006104,-341.398010,0.666651
3,-24.421700,-20.596399,-23.423300,0.381427,-55.571999,-46.090599,-52.555500,0.393663,-89.466301,-72.973297,-83.822403,0.394846,-134.436996,-107.330002,-124.806999,0.374068
4,-12.655300,29.405399,-60.221001,0.619523,-26.612101,65.975998,-133.429993,0.638750,-40.456200,107.658997,-215.979996,0.652402,-55.553200,162.884003,-323.472992,0.654377

In [125]:

# data values of particles
df_values = df.iloc[:, np.r_[bpC:epC,
                               bpC+(interval*1):epC+(interval*1),
                               bpC+(interval*2):epC+(interval*2),
                               bpC+(interval*3):epC+(interval*3)]]

df_values.head()

    value_0   value_1   value_2   value_3
0  0.319292  0.331103  0.321971  0.344224
1  0.366232  0.361090  0.354962  0.317347
2  0.687946  0.655072  0.651616  0.666651
3  0.381427  0.393663  0.394846  0.374068
4  0.619523  0.638750  0.652402  0.654377

In [126]:
y = df.iloc[:, np.r_[bp+(interval*4):(bp+(interval*4)+3)]]
y.head()

          x_4         y_4         z_4
0 -216.294006 -144.802002 -111.400002
1 -107.084999 -237.365005 -174.199997
2 -223.113007 -128.664001 -511.399994
3 -205.817001 -158.632996 -188.600006
4  -71.434700  250.406006 -491.000000

In [247]:
event_prefix = '../dataset/tr.csv'
#df = pd.read_csv(event_prefix, header=1, index_col=['hit_id_0'], engine='python')
df2 = pd.read_csv(event_prefix, header=0, engine='python')

#df = pd.read_csv(event_prefix)
df2 = df2.iloc[:, 9:]
df2.head()

,hit_id_0,x_0,y_0,z_0,volume_id_0,layer_id_0,module_id_0,value_0,hit_id_1,x_1,...,module_id_3,value_3,hit_id_4,x_4,y_4,z_4,volume_id_4,layer_id_4,module_id_4,value_4
0,16198.0,28.176500,16.392799,-36.742001,8.0,2.0,106.0,0.424473,22039.0,61.622898,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
1,16172.0,24.454599,20.559601,-46.045200,8.0,2.0,106.0,0.441045,22049.0,54.083000,...,283.0,0.471207,57668.0,186.074005,184.733002,-321.000000,13.0,2.0,305.0,4.0
2,17892.0,27.172100,16.773899,47.709900,8.0,2.0,122.0,0.586853,24389.0,61.629002,...,904.0,0.628501,60384.0,235.876007,123.170998,459.000000,13.0,2.0,583.0,3.0
3,15796.0,27.274500,-16.963400,-27.858801,8.0,2.0,103.0,0.354827,22680.0,62.152699,...,423.0,0.367249,57946.0,225.315994,-133.841003,-170.600006,13.0,2.0,337.0,2.0
4,15882.0,28.062901,-15.327300,-24.451200,8.0,2.0,103.0,0.317890,22677.0,63.334702,...,423.0,0.335427,58384.0,222.526001,-132.548996,-142.000000,13.0,2.0,377.0,1.0

In [277]:
bp=1
ep=4
bpC=7
epC=8

interval=11

dataX2=df2.iloc[:, np.r_[bp:ep,
                        bp+(interval*1):ep+(interval*1),
                        bp+(interval*2):ep+(interval*2),
                        bp+(interval*3):ep+(interval*3)]]

dataXfeatures=df2.iloc[:, np.r_[bpC:epC,
                               bpC+(interval*1):epC+(interval*1),
                               bpC+(interval*2):epC+(interval*2),
                               bpC+(interval*3):epC+(interval*3)]]

#evalX=(bp+(interval*3))
#evalX3=evalX+3
#print(bp+(interval*4),(bp+(interval*4)+3))

y=df2.iloc[:, np.r_[bp+(interval*4):(bp+(interval*4)+3)]]

#dataX3.head()

b = dataX2.values.flatten()
bfeat=dataXfeatures.values.flatten()
n_patterns=len(df2)
X     = np.reshape(b,(n_patterns,4,3))
#Xfeat = np.reshape(bfeat,(n_patterns,3,4))
Xfeat = np.reshape(bfeat,(n_patterns,4,1))

IndexError: positional indexers are out-of-bounds

In [250]:
#dataXfeatures.head()
dataX2.head()

,x_0,y_0,z_0,x_1,y_1,z_1,x_2,y_2,z_2,x_3,y_3,z_3
0,28.176500,16.392799,-36.742001,61.622898,36.088402,-71.028000,99.855797,58.901199,-110.329002,0.000000,0.000000,0.000000
1,24.454599,20.559601,-46.045200,54.083000,46.787300,-93.296402,86.075302,76.923897,-145.781006,125.985001,117.313004,-213.507996
2,27.172100,16.773899,47.709900,61.629002,36.919399,117.415001,100.313004,58.340401,194.701004,150.225998,83.974800,293.032013
3,27.274500,-16.963400,-27.858801,62.152699,-38.337200,-53.205799,98.817902,-60.440701,-79.715401,147.410995,-89.166702,-114.681000
4,28.062901,-15.327300,-24.451200,63.334702,-35.107899,-45.408298,100.864998,-56.908401,-67.908096,148.787994,-85.756302,-96.906502

In [119]:
y.head()

          x_4         y_4         z_4
0    0.000000    0.000000    0.000000
1  186.074005  184.733002 -321.000000
2  235.876007  123.170998  459.000000
3  225.315994 -133.841003 -170.600006
4  222.526001 -132.548996 -142.000000