In [71]:
import os
import pandas as pd
import numpy as np

# reading all data from directories
PATH_FILES = '/data/track-ml/sorted-datasets/'
FILE_SAVED = '../dataset/events.csv'

#files = [f for f in os.listdir(PATH_FILES)]
#dirs = [os.path.join(PATH_FILES, d) for index, d in enumerate(files)]

dirs = ['/data/track-ml/sorted-datasets/event000001000',
        '/data/track-ml/sorted-datasets/event000001001',
        '/data/track-ml/sorted-datasets/event000001002',
        '/data/track-ml/sorted-datasets/event000001003',
        '/data/track-ml/sorted-datasets/event000001004',
        '/data/track-ml/sorted-datasets/event000001005',
        '/data/track-ml/sorted-datasets/event000001006',
        '/data/track-ml/sorted-datasets/event000001007',
        '/data/track-ml/sorted-datasets/event000001008',
        '/data/track-ml/sorted-datasets/event000001009',
        '/data/track-ml/sorted-datasets/event000001010',
        '/data/track-ml/sorted-datasets/event000004915',
        '/data/track-ml/sorted-datasets/event000004913']

seed = 0
columns = []
tracks_total = []
result = 0
tracks_total = pd.DataFrame()
dfs = []

tracks = pd.read_csv(dirs[0], header=0, engine='python')
columns = tracks.columns
        
for path in dirs:
    print('reading ', path)
    #if seed == 0:
    #    tracks = pd.read_csv(path, header=0, engine='python')
    #    columns = tracks.columns
    #else:
    #tracks = pd.read_csv(path, header=None, engine='python')
    tracks = pd.read_csv(path, header=0)
    
    #tracks = tracks[1:]
    
    print('\t rows:%s , cols:%s' % (tracks.shape[0], tracks.shape[1]))
    
    #seed = seed + 1
    dfs.append(tracks)
    
tracks_total = pd.concat(dfs, axis=0, ignore_index=True)
#dataframe = pd.DataFrame(tracks_total, columns=columns)
#tracks_total.columns = columns
tracks_total.to_csv(FILE_SAVED, index = False)    
print('Data saved at %s with %s rows %s columns ' % (FILE_SAVED, tracks_total.shape[0], tracks_total.shape[1]))

reading  /data/track-ml/sorted-datasets/event000001000
	 rows:10565 , cols:229
reading  /data/track-ml/sorted-datasets/event000001001
	 rows:7699 , cols:229
reading  /data/track-ml/sorted-datasets/event000001002
	 rows:10998 , cols:229
reading  /data/track-ml/sorted-datasets/event000001003
	 rows:8863 , cols:229
reading  /data/track-ml/sorted-datasets/event000001004
	 rows:12199 , cols:229
reading  /data/track-ml/sorted-datasets/event000001005
	 rows:9431 , cols:229
reading  /data/track-ml/sorted-datasets/event000001006
	 rows:10207 , cols:229
reading  /data/track-ml/sorted-datasets/event000001007
	 rows:9467 , cols:229
reading  /data/track-ml/sorted-datasets/event000001008
	 rows:9580 , cols:229
reading  /data/track-ml/sorted-datasets/event000001009
	 rows:9210 , cols:229
reading  /data/track-ml/sorted-datasets/event000001010
	 rows:8740 , cols:229
reading  /data/track-ml/sorted-datasets/event000004915
	 rows:8115 , cols:229
reading  /data/track-ml/sorted-datasets/event000004913
	 rows:10647 , cols:229
Data saved at ../dataset/events.csv with 125721 rows 229 columns

In [73]:
tracks_total.describe()

,particle_id,vx,vy,vz,px,py,pz,q,n_hits,hit_id_0,...,x_19,y_19,z_19,rho_19,eta_19,phi_19,volume_id_19,layer_id_19,module_id_19,value_19
count,1.257210e+05,125721.000000,125721.000000,125721.000000,125721.000000,125721.000000,125721.000000,125721.000000,125721.000000,125721.000000,...,125721.0,125721.0,125721.0,125721.0,125721.0,125721.0,125721.0,125721.0,125721.0,125721.0
mean,4.445734e+17,0.031733,-0.128451,2.601141,0.000285,-0.002785,-0.044163,0.087026,7.468959,29806.043597,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,2.723220e+17,89.574015,91.983310,376.398318,0.788069,0.844240,7.292762,0.996210,3.015675,21736.839287,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,4.503668e+15,-974.039001,-990.713013,-2955.500000,-72.130898,-93.916901,-540.591003,-1.000000,1.000000,13.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,2.071685e+17,-0.015242,-0.014689,-5.253020,-0.239108,-0.239810,-1.022020,-1.000000,6.000000,17624.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,4.368516e+17,-0.000420,0.000068,-0.103963,-0.000917,-0.001870,-0.001641,1.000000,8.000000,21097.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,6.800470e+17,0.014701,0.014069,5.259220,0.237284,0.238567,1.015920,1.000000,10.000000,29469.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,1.085372e+18,991.283997,998.755981,2955.500000,67.819000,73.065201,479.881989,1.000000,15.000000,138431.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [74]:
tracks_total.isnull().values.any()
#dataset.isnull().sum()
tracks_total.isna().sum()

particle_id     0
vx              0
vy              0
vz              0
px              0
               ..
phi_19          0
volume_id_19    0
layer_id_19     0
module_id_19    0
value_19        0
Length: 229, dtype: int64